src/main/java/org/soap/stub/students.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server.soap.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server.soap.org/" name="ServerSoapService">
<types>
<xsd:schema>
<xsd:import namespace="http://server.soap.org/" schemaLocation="http://localhost:8080/ws/students.wsdl?xsd=1"/>
</xsd:schema>
</types>
<message name="addStudent">
<part name="parameters" element="tns:addStudent"/>
</message>
<message name="addStudentResponse">
<part name="parameters" element="tns:addStudentResponse"/>
</message>
<message name="updateStudent">
<part name="parameters" element="tns:updateStudent"/>
</message>
<message name="updateStudentResponse">
<part name="parameters" element="tns:updateStudentResponse"/>
</message>
<message name="deleteStudent">
<part name="parameters" element="tns:deleteStudent"/>
</message>
<message name="deleteStudentResponse">
<part name="parameters" element="tns:deleteStudentResponse"/>
</message>
<message name="getAllStudents">
<part name="parameters" element="tns:getAllStudents"/>
</message>
<message name="getAllStudentsResponse">
<part name="parameters" element="tns:getAllStudentsResponse"/>
</message>
<message name="getStudent">
<part name="parameters" element="tns:getStudent"/>
</message>
<message name="getStudentResponse">
<part name="parameters" element="tns:getStudentResponse"/>
</message>
<portType name="ServerSoap">
<operation name="addStudent">
<input wsam:Action="http://server.soap.org/ServerSoap/addStudentRequest" message="tns:addStudent"/>
<output wsam:Action="http://server.soap.org/ServerSoap/addStudentResponse" message="tns:addStudentResponse"/>
</operation>
<operation name="updateStudent">
<input wsam:Action="http://server.soap.org/ServerSoap/updateStudentRequest" message="tns:updateStudent"/>
<output wsam:Action="http://server.soap.org/ServerSoap/updateStudentResponse" message="tns:updateStudentResponse"/>
</operation>
<operation name="deleteStudent">
<input wsam:Action="http://server.soap.org/ServerSoap/deleteStudentRequest" message="tns:deleteStudent"/>
<output wsam:Action="http://server.soap.org/ServerSoap/deleteStudentResponse" message="tns:deleteStudentResponse"/>
</operation>
<operation name="getAllStudents">
<input wsam:Action="http://server.soap.org/ServerSoap/getAllStudentsRequest" message="tns:getAllStudents"/>
<output wsam:Action="http://server.soap.org/ServerSoap/getAllStudentsResponse" message="tns:getAllStudentsResponse"/>
</operation>
<operation name="getStudent">
<input wsam:Action="http://server.soap.org/ServerSoap/getStudentRequest" message="tns:getStudent"/>
<output wsam:Action="http://server.soap.org/ServerSoap/getStudentResponse" message="tns:getStudentResponse"/>
</operation>
</portType>
<binding name="ServerSoapPortBinding" type="tns:ServerSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServerSoapService">
<port name="ServerSoapPort" binding="tns:ServerSoapPortBinding">
<soap:address location="http://localhost:8080/ws/students.wsdl"/>
</port>
</service>
</definitions>